
.coloresEnHex {
  color: #2bd22b;
  color: #d6d612;
  color: #d89820;
  color: #d54242;
  color: #8d138d;
  color: #0000ff;
  color: #e0ffff;
  color: #90ee90;
  color: #00008b
}

.paleta1Claro {
  color: #6B9080;
  color: #A4C3B2;
  color: #CCE3DE;
  color: #EAF4F4;
  color: #F6FFF8;
}

.paleta2Oscuro {
    color: #2F3E46;
    color: #354F52;
    color: #52796F;
    color: #84A98C;
    color: #CAD2C5;
  }
